<link rel="stylesheet" href="/components/calendar-component/styles.css" />

<div id="container">
  <div id="header">
    <div id="monthDisplay"></div>

    <div>
      <button id="backButton">Voltar</button>
      <button id="nextButton">Próximo</button>
    </div>
  </div>

  <div id="weekdays">
    <div>Domingo</div>
    <div>Segunda-feira</div>
    <div>Terça-feira</div>
    <div>Quarta-feira</div>
    <div>Quinta-feira</div>
    <div>Sexta-feira</div>
    <div>Sábado</div>
  </div>

  <div id="eventListContainer">
    <h3>Eventos</h3>
    <ul id="eventList"></ul>
  </div>
  <!-- div dinamic -->
  <div id="calendar"></div>
</div>
